html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(rgb(92, 92, 92, 0.7), rgb(92, 92, 92, 0.7)), url(../Images/itl.cat_road-hd-wallpaper_348283.png);
    background-size: 100%;
    margin: 0;
    font-family: Russo One;
}

header {
    background-color: rgb(0, 0, 0);
    height: 174px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options {
    width: 100%;
    margin-left: 400px;
}

#logo {
    width: 150px;
    height: 150px;
}

#logo:hover {
    transform: scale(1.2);
}

a {
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.a1:hover {
    transition: .6s;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 6px 2px black;
}

.logo1 {
    height: 50px;
    width: 150px;
    margin-right: 40px;
    margin-top: 4px;

}

#bikelogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    background-color: black;
    height: 200px;
    margin-top: 0;
}

.icons {
    margin-top: 20px;
    height: 30px;
    width: 30px;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#follow {
    color: whitesmoke;
    font-size: 20px;
    width: 104px;
    margin-top: 35px;
    text-shadow: none;
}

.copyright {
    color: whitesmoke;
    text-align: center;
    width: 100%;
}

hr {
    border-top: 1px solid gray;
    border-bottom: 1px solid black;
}

p {
    width: 450px;
    text-shadow: 2px 2px 10px white;
}

h1 {
    text-align: center;
    text-shadow: 0 0 5px rgb(255, 223, 93), 0 0 25px #3eecff, 0 0 50px #3eecff, 0 0 100px #3eecff;
}

.brands {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.first-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.brand {
    width: 300px;
    height: 250px;
    background-color: white;
}

.brand:hover {
    transform: scale(1.05);
    transition: .5s;
    box-shadow: 2px 2px 50px 2px aquamarine;
}

#line {
    background-color: cornsilk;
    height: 5px;
    position: relative;
    bottom: 10px;
}

.brand-a:hover {
    transition: .5s;
    transform: scale(1.05);
    box-shadow: 2px 2px 50px 2px greenyellow;
}

#follow {
    color: whitesmoke;
    font-size: 20px;
    width: 104px;
    margin-top: 35px;
    text-shadow: none;
}

