html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Russo One;
    background-image: url(../Images/Bike\ Background.gif);
    background-size: cover;
}

header {
    background-color: rgb(0, 0, 0);
    height: 174px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options {
    width: 100%;
    margin-left: 400px;
}

#logo {
    width: 150px;
    height: 150px;
}

#logo:hover {
    transform: scale(1.2);
}

a {
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.a1:hover {
    transition: .6s;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 6px 2px black;
}

#follow {
    color: whitesmoke;
    font-size: 20px;
    width: 104px;
    margin-top: 35px;
    text-shadow: none;
}

p {
    width: 450px;
    text-shadow: 2px 2px 10px white;
}

footer {
    background-color: black;
    height: 200px;
    margin-top: 0;
}

.icons {
    margin-top: 20px;
    height: 30px;
    width: 30px;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#follow {
    color: whitesmoke;
    font-size: 20px;
    width: 106px;
    margin-top: 35px;
    text-shadow: none;
}

.copyright {
    color: whitesmoke;
    text-align: center;
    width: 100%;
}

hr {
    border-top: 1px solid gray;
    border-bottom: 1px solid black;
}

.form{
    background: linear-gradient(rgba(128, 99, 49, 0.6), rgba(65, 108, 92, 1.5)), url(../Images/Money\ background.jpg);
    border-radius: 10px;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 50px 20px black;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px;
    margin-bottom: 100px;
    font-family: Patua One;
}

input[type="radio"] {
    accent-color: goldenrod;
}

#card{
    width: 160px;
    height: 25px;
}

#NB{
    width: 30px;
    height: 30px;
    background-color: aliceblue;
}

#cod{
    width: 100px;
    height: 40px;
}

.upi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

#c-order{
    color: whitesmoke;
    font-size: smaller;
    margin-left: 200px;
    border: 2px solid #ef6eae;
}

h1{
    text-align: center;
    color: navy;
    text-shadow: 0 0 4px turquoise;
    margin-top: 20px;
}

label{
    color: whitesmoke;
}

#c-order:hover,
#c-order:focus {
  box-shadow: 0 0.9em 0.9em -0.1em #ef6eae;
  transform: translateY(-0.25em);
  color: gold;
}