html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Russo One;
    background: url(../Images/background\ star.gif);
    background-size: cover;
}

header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 174px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options {
    width: 100%;
    margin-left: 400px;
}

#logo {
    width: 150px;
    height: 150px;
}

#logo:hover {
    transform: scale(1.2);
}

a {
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.a1:hover {
    transition: .6s;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 6px 2px black;
}

.nav2 {
    width: 105%;
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform .2s;
}

.a2:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 6px 2px black;
}

.a2 {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
}

p {
    width: 450px;
    text-shadow: 2px 2px 10px white;
}

footer {
    background-color: black;
    height: 200px;
    margin-top: 0;
}

.icons {
    margin-top: 20px;
    height: 30px;
    width: 30px;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#follow {
    color: whitesmoke;
    font-size: 20px;
    width: 106px;
    margin-top: 35px;
    text-shadow: none;
}

.copyright {
    color: whitesmoke;
    text-align: center;
    width: 100%;
}

hr {
    border-top: 1px solid gray;
    border-bottom: 1px solid black;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px 0px;
}

.R15 {
    width: 400px;
    height: 310px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgb(255, 208, 55);
}

.MT {
    width: 450px;
    height: 310px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgb(255, 208, 55);
}

.FZX{
    background-color: white;
    width: 400px;
    height: 310px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgb(255, 208, 55);
}

.R15:hover,
.MT:hover,
.FZX:hover {
    box-shadow: 0 0 10px 10px lightseagreen;
}

.prices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px 0px;
}

.first {
    border-top: 3px solid grey;
    border-left: 3px solid lightcoral;
    border-bottom: 3px solid goldenrod;
    border-right: 3px solid palegreen;
    width: 400px;
    box-shadow: 0 0 10px 10px lightyellow;
}

.second {
    margin-left: 30px;
    border-top: 3px solid grey;
    border-left: 3px solid lightcoral;
    border-bottom: 3px solid goldenrod;
    border-right: 3px solid palegreen;
    width: 400px;
    box-shadow: 0 0 10px 10px lightyellow;
}

.first:hover,
.second:hover,
.third:hover {
    box-shadow: 0 0 10px 10px lightcyan;
}

.old {
    font-weight: bold;
    color: blue;
}

.present {
    font-weight: bold;
    color: brown;
}

.future {
    font-weight: bold;
    color: green;
}

p {
    margin-left: 20px;
}

h3 {
    text-align: center;
    text-shadow:  0 0 5px lime, 0 0 25px #3e85ff, 0 0 50px #3e85ff, 0 0 100px #3e85ff;
}