html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Russo One;
    background: url(../Images/AbandonedWeightyBactrian-size_restricted.gif);
    background-size: cover;
}

header {
    background-color: rgb(0, 0, 0);
    height: 174px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options {
    width: 100%;
    margin-left: 400px;
}

#logo {
    width: 150px;
    height: 150px;
}

#logo:hover {
    transform: scale(1.2);
}

a {
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.a1:hover {
    transition: .6s;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 6px 2px black;
}

.main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    margin: 50px 0;
    margin-left: 10px;
}

.MT {
    width: 500px;
}

.R15 {
    width: 500px;
}

.FZX {
    width: 500px;
}

.MT:hover,
.R15:hover,
.FZX:hover {
    transform: scale(0.8);
    transition: 1s;
    box-shadow: 0 0 10px 10px rgb(250, 213, 135);
}

.first {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.detail {
    margin-left: 50px;
}

.details{
    position: relative;
    right: 220px;
}

/* p {
    width: 450px;
    text-shadow: 2px 2px 10px white;
} */

footer {
    background-color: black;
    height: 200px;
    margin-top: 0;
}

.icons {
    margin-top: 20px;
    height: 30px;
    width: 30px;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#follow {
    color: whitesmoke;
    font-size: 20px;
    width: 106px;
    margin-top: 35px;
    text-shadow: none;
}

.copyright {
    color: whitesmoke;
    text-align: center;
    width: 100%;
}

hr {
    border-top: 1px solid gray;
    border-bottom: 1px solid black;
}
