html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Russo One;
}

header {
    background-color: rgb(0, 0, 0);
    height: 174px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options {
    width: 100%;
    margin-left: 325px;
    display: flex;
    align-items: center;
}

#logo {
    width: 150px;
    height: 150px;
}

a {
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.a1:hover {
    transition: .6s;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 6px 2px black;
}

#banner {
    width: 100%;
    height: 690px;

}

h1 {
    margin-top: 100px;
}

.center {
    text-align: center;
}

.brand-logo {
    width: 150px;
    height: 100px;
}

.brand-column {
    /* margin-top: 100px; */
    margin: 100px 200px;
    display: flex;
    flex-direction: column;
}

h6 {
    font-size: 18px;
    margin-top: 0px;
}

.row {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    flex-wrap: wrap;

}

.content {
    padding: 10px;
    color: black;
}

.content:hover {
    color: crimson;
    text-shadow: 0px 0px 2px lawngreen;
    letter-spacing: 1px;
    box-shadow: 0px 0px 1px 0px black;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    transition: .6s;
}

#profile {
    background-color: white;
    border-radius: 50%;
}