html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(rgb(20, 30, 48), rgb(36, 59, 85));
}

.signup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.signup h2 {
  margin: 0 0 30px;
  padding: 0;
  color: white;
  text-align: center;
}

.signup .inputs {
  position: relative;
}

.signup .inputs input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.signup .inputs label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: white;
  pointer-events: none;
  transition: .5s;
}

.signup .inputs input:focus~label,
.signup .inputs input:valid~label {
  color: #28dfff;
  top: -25px;
  font-size: 12px;
  opacity: 1;
}

.signup .inputs input:invalid~label {
  width: 100%;
  color: red;
} 

.signup form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #28dfff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 100px;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.signup a:hover {
  background: #28dfff;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #28dfff, 0 0 25px #28dfff, 0 0 50px #28dfff, 0 0 100px #28dfff;
}

#alr-acc{
  letter-spacing: 0;
  text-align: center;
  color: dimgray;
  font-size: 10px;
  margin-left: 75px;
  margin-bottom: 0;
}

#alr-acc:hover{
  color: lightgray;
  background: none;
  box-shadow: none;
}

#sign-up {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #28dfff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 100px;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 2px;
  border: none;
  background: none;
}

#sign-up:hover {
  background: #28dfff;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #28dfff, 0 0 25px #28dfff, 0 0 50px #28dfff, 0 0 100px #28dfff;
  background-color: #28dfff;
  border: none;
}