html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    margin: 0;
    font-family: Russo One;
}

header {
    background-color: rgb(0, 0, 0);
    height: 174px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options {
    width: 100%;
    margin-left: 400px;
}

#logo {
    width: 150px;
    height: 150px;
}

a {
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.a1:hover {
    transition: .6s;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 6px 2px black;
}

.nav2 {
    width: 100%;
    background-color: rgb(125, 122, 122);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform .2s;
}

.Y-logo {
    height: 50px;
    width: 150px;
    margin-right: 40px;
    margin-top: 4px;

}

.B-logo{
    height: 50px;
    width: 150px;
    margin-right: 40px;
    margin-top: 4px;
}

.H-logo{
    height: 50px;
    width: 120px;
    margin-right: 40px;
    margin-top: 4px;
}

.RE-logo{
    height: 60px;
    width: 100px;
    margin-right: 40px;
    margin-top: 4px;
}

.T-logo{
    height: 60px;
    width: 110px;
    margin-right: 40px;
    margin-top: 4px;
}

#bikelogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.a2:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 6px 2px black;
}

.a2 {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
}

#modified {
    height: 500px;
    width: 500px;
    border-radius: 10px;
}

#modified:hover {
    transform: scale(1.1);
    transition: .3s;
    background-color: grey;
    box-shadow: 0px 0px 30px gold;
    color: black;
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: linear-gradient(rgb(92, 92, 92, 0.7), rgb(92, 92, 92, 0.7)), url(../Images/CompassionateCriminalAmethystgemclam-max-1mb.gif);
    background-size: cover;
    background-attachment: fixed;
}

.main {
    padding-top: 20px;
}

h3 {
    color: red;
    text-shadow: 2px 2px 4px white;
}

.img1 {
    margin: 20px;
}

h2 {
    color: white;
    text-shadow: -3px -3px 10px aqua;
    text-align: center;
    text-decoration: underline double gold;
}

p {
    width: 450px;
    text-shadow: 2px 2px 10px white;
}

footer {
    background-color: black;
    height: 200px;
    margin-top: 0;
}

.icons {
    margin-top: 20px;
    height: 30px;
    width: 30px;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#follow {
    color: whitesmoke;
    font-size: 20px;
    width: 106px;
    margin-top: 35px;
    text-shadow: none;
}

.copyright {
    color: whitesmoke;
    text-align: center;
    width: 100%;
}

hr {
    border-top: 1px solid gray;
    border-bottom: 1px solid black;
}

#up {
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    position: fixed;
    left: 96%;
    top: 93%;
}

#up:hover {
    color: #111;
    background: white;
    box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white, 0 0 100px white;
}

* {
    font-family: "Russo one" sans-serif;
    letter-spacing: 0.2px;
}

.second {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: linear-gradient(rgb(92, 92, 92, 0.7), rgb(92, 92, 92, 0.7)), url(../Images/abstract-light-lines-glowing-meteor-technology-background-3d-illustration_357568-1749.webp);
    background-attachment: fixed;
    background-size: 100%;
}

.third {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: linear-gradient(rgb(92, 92, 92, 0.7), rgb(92, 92, 92, 0.7)), url(../Images/Background\ gif.gif);
    background-attachment: fixed;
    background-size: 100%;
}

#line {
    background-color: azure;
    height: 5px;
    position: relative;
    bottom: 10px;
}