html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: Russo One;
}
header{
    background-color:rgb(0, 0, 0);
    height: 174px;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.options{
    width: 100%;
    margin-left: 400px;
}
#logo{
    width: 150px;
    height: 150px;
}
#logo:hover{
    transform: scale(1.2);
}
a{
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}
.a1:hover{
    transition: .6s;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 6px 2px black;
}
.logo1{
    height: 50px;
    width: 150px;
    margin-right: 40px;
    margin-top: 4px;

}
#bikelogo{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
p{
    width: 450px;
    text-shadow: 2px 2px 10px white;
}
footer{
    background-color: black;
    height: 200px;
    margin-top: 0;
}
.icons{
    margin-top: 20px;
    height: 30px;
    width: 30px;
}
.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#follow {
    color: whitesmoke;
    font-size: 20px;
    width: 104px;
    margin-top: 35px;
    text-shadow: none;
}

.copyright{
    color: whitesmoke;
    text-align: center;
    width: 100%;
}
hr{
    border-top: 1px solid gray;
    border-bottom: 1px solid black;
}

.main{
    display: flex;
}

.details{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buy{
    position: relative;
    color: greenyellow;
}

.buy {
    text-shadow: 0 0 10px black;
    border-radius: 10px;
    background:
      linear-gradient(
        to right,
        rgba(255, 0, 180, 1),
        rgba(210, 180, 100)
      ),
      linear-gradient(
        to right,
        coral,
        darkgrey,
        rgba(0, 100, 200, 1),
        rgba(255, 0, 180, 1),
        rgba(255, 0, 0, 1),
        rgba(210, 180, 100),
        rgba(10, 80, 1)
    );
    background-size: 100% 500px, 0 250px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 1000ms;
}

  .buy:hover {
    background-size: 0 3px, 100% 3px;
    border-radius: 0;
  }


